.log {
  width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 60px;
  right: -130%;
  z-index: 1000;
  text-align: center;
  transition: 0.8s;
}
.log:target {
  right: 0;
}

.logTop {
  padding-top: 40px;
}
.logTop > span {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-left: 30px;
}

.logTop > span:first-child {
  margin-left: none;
  padding-right: 50px;
  position: relative;
}

.logTop > span:first-child::after {
  content: "or";
  font-size: 10px;
  font-weight: 400;
  color: var(--green);
  width: 15px;
  height: 15px;
  border: 2px solid var(--green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
}

.midLog {
  padding: 170px 0;
}

.midLog > img {
  width: 20%;
}

.midLog > span {
  font-size: 40px;
  font-weight: 600;
}
.logForm {
}

.logForm > input {
  width: 60%;
  height: 40px;
  margin-bottom: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--green);
  color: var(--gray);
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.logForm > div {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 25px;
  background-repeat: no-repeat;
}

.logForm > .id {
  background: url(../../images/iconmonstr-id-card.png);
}

.logForm > .password {
  background: url(../../images/iconmonstr-key.png);
}

.check {
  line-height: 30px;
  align-items: center;
  /* float: left; */
  text-align: left;
  margin: 20px 0 30px 30px;
}

.logBtn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: 800;
  color: var(--green);
  border-radius: 10px;
  border: none;
  background-color: var(--white);
  transition: 0.4s;
  margin-bottom: 50px;
}

.logBtn:hover {
  background-color: var(--green);
  color: var(--white);
}

.logWrap > li {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.logWrap > li > a {
  color: var(--white);
  font-size: 18px;
  transition: 0.4s;
}

.logWrap > li:last-child {
  margin-left: 15px;
  padding-right: none;
}

.logWrap > li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logWrap > li:hover > a {
  color: var(--green);
}
.logTop > span:last-child > a {
  color: var(--gray);
  transition: 0.4s;
}
.logTop > span:last-child > a:hover {
  color: var(--green);
}
